.filterButtonWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 165px;
  width: 100%;
  margin-left: 40px;
}

.text {
  margin: 0;
  font-family: JosefinSans;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
  font-weight: 400;
  color: hsl(234, 11%, 52%);
}

.textBold {
  line-height: normal;
  font-weight: 700;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: hsl(234, 11%, 52%);
  cursor: pointer;
}

.button:hover {
  color: hsl(234, 39%, 85%);
}

.buttonActive {
  color: hsl(220, 98%, 61%);
}

@media screen and (max-width: 600px) {
  .filterButtonWrapper {
    margin: 15px 0 0;
    padding: 19px 80px 15px;
    display: flex;
    max-width: calc(100% - 160px);
    border-radius: 5px;
    justify-content: space-between;
    background-color: hsl(235, 24%, 19%);
  }

  .text {
    font-size: 12px;
    line-height: 10px;
  }

  .textBold {
    font-size: 14px;
    line-height: normal;
  }
}
