.filterButtonWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 165px;
  width: 100%;
  margin-left: 40px;
}

.text {
  font-size: var(--fs-small);
  line-height: 17px;
  color: var(--blue-400);
}

.textBold {
  line-height: normal;
  font-weight: var(--fw-bold);
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--blue-400);
  cursor: pointer;
}

.button:hover {
  color: var(--blue-300);
}

.buttonActive {
  color: var(--primary);
}

@media screen and (max-width: 600px) {
  .filterButtonWrapper {
    margin: 15px 0 0;
    padding: 19px 80px;
    display: flex;
    max-width: 100%;
    border-radius: 5px;
    justify-content: space-between;
    background-color: var(--blue-200);
  }

  .text {
    font-size: var(--fs-small-mob);
    line-height: 10px;
  }

  .textBold {
    font-size: var(--fs-small);
  }
}
