.filterPanel {
  width: 100%;
  max-width: 540px;
}

.filterPanelWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--blue-200);
  padding: 18px 24px 16px;
}

.text {
  margin: 0;
  font-size: var(--fs-small);
  line-height: 17px;
  font-weight: var(--fw-normal);
  color: var(--blue-400);
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--blue-400);
  cursor: pointer;
}

.button:hover {
  color: var(--blue-300);
}

.buttonActive {
  color: var(--primary);
}

@media screen and (max-width: 600px) {
  .filterPanel {
    max-width: 100%;
  }

  .filterPanelWrapper {
    margin: 0 auto;
    padding: 19px 20px 21px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .filterButtonWrapper {
    margin: 15px 0 0;
    padding: 20px 80px 15px;
    display: flex;
    max-width: 100%;
    border-radius: 5px;
    justify-content: space-between;
    background-color: var(--blue-200);
  }

  .text {
    font-size: var(--fs-small-mob);
    line-height: 11px;
  }
}
